<div class = "container ">
	<div class = "row">
		<div class="col-xs-8 col-xs-offset-2">
			<h2 class="elementor-heading-title">プライバシーポリシー:</h2>
			<br>
				<div class="establishment">
					株式会社 ビッグマッスル<br>
					最終更新日: 2020/03/10
				</div>

			<div class="privacy-body">
				<h2>はじめに</h2>
				<br>
				<div class="privacy-item">
					<p>
						株式会社 ビックマッスル (以下、当社) では、利用者の個人情報をお預かりしています。利用者が安心してお問い合わせ、サイトの閲覧など (以下、当社事業) ができるよう、当社では個人情報に関する法令を尊守し、適切に個人情報の取り扱いを致します。
					</p>
				</div>
				<br>

				<h2>個人情報の収集</h2>
				<br>
				<div class="privacy-item">
					<p>
						当社事業では、利用者の個人情報を収集することがあります。収集するにあたっては、利用目的を明記の上、適法かつ公正な手段で収集します。当社事業で収集することのある個人情報は次のとおりです。
					</p>
					<ul>
						<li>● お名前</li>
						<li>● メールアドレス</li>
						<li>● お問い合わせ内容</li>
						<li>● 当社が掲載している情報およびその内容</li>
						<li>● 上記の情報を組み合わせることで得られる情報</li>
					</ul>
				</div>
				<br>

				<h2>個人情報の利用</h2>
				<br>
				<div class="privacy-item">
					<p>当社事業で利用者からお預かりした個人情報の利用目的は次のとおりです。</p>
					<ul>
						<li>● ご注文の確認、照会のため</li>
						<li>● 問い合わせへの返信のため</li>
						<li>● 当社が運営するサービスをご利用していただくため（ログイン、パスワード再設定など）</li>
						<li>● 当社が運営するサービスのメンテナンスなど、サービスに関するご案内のため</li>
						<li>● 当社が運営するサービスまたは事業に関連する情報をご案内するため</li>
						<li>● 当社が運営するサービスおよびシステムの品質向上のため</li>
					</ul>
				</div>
				<br>

				<h2>個人情報の開示</h2>
				<br>
				<div class="privacy-item">
					<p>
						当社事業では、収集した個人情報について、下記の場合を除いては利用者に断りなく第三者に開示・提供することはありません。
					</p>
					<ul>
						<li>
							● 法令に基づく場合、および国の機関もしくは地方公共団体またはその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合
						</li>
						<li>● 人の生命、身体または財産の保護のために必要がある場合であって、本人の同意を得ることが困難である場合</li>
						<li>● 本サイトの一部または全部の運用を、関連会社で管理する必要があった場合</li>
						<li>● 集計分析等によって得られた情報を、個人を特定できない形で業務提携先等に開示または提供する場合</li>
						<li>● 「個人情報の利用目的」の範囲内において、外部の企業等業務を遂行する者に個人情報を預託する場合</li>
					</ul>
				</div>
				<br>

				<h2>個人情報の訂正、削除</h2>
				<br>
				<div class="privacy-item">
					<p>
						利用者からお預かりした個人情報の訂正・削除をご希望される場合は、下記の窓口または当ページ下部の<br>
						<%= link_to "お問い合わせフォーム", homes_contact_path %>よりお知らせ下さい。
					</p>
					<ul>
						<li>● 問い合わせ窓口: info@bigmuscle.jp</li>
					</ul>
				</div>
				<br>

				<h2>Google Mapの使用について</h2>
				<br>
				<div class="privacy-item">
					<p>
						当社では、それぞれの利用者に合わせた情報を提供するため、Google Mapを使用することがありますが、これにより個人を特定できる情報の収集を行えるものではありません。また、Google Mapの受け入れを希望されない場合は、住所等の設定を行わなければ表示されることはありません。
					</p>
				</div>
				<br>

				<br>

				<h2>プライバシーポリシーの変更</h2>
				<br>

				<div class="privacy-item">
					<p>
						当社事業で収集する個人情報の定義の変更、利用目的の変更、またはその他プライバシーポリシーの変更を行う際は、当ページでの変更を持って公表とさせていただきます。本プライバシーポリシーの変更履歴は、下記URLよりご確認することができます。
					</p>
				</div>
				<br>

				<!-- <p>
					<%#= link_to "https://github.com/GYM-PUMP/Desire",:protocol => "https://github.com/GYM-PUMP/Desire" %>
				</p> -->
				<a href="https://github.com/GYM-PUMP/Desire/blob/master/app/views/users/homes/privacy.html.erb" target="_blank">
					https://github.com/GYM-PUMP/Desire
				</a>
				<br>
				<br>
			</div>
		</div>
	</div>
</div>
