<div class = "container top">
	<div class = "row center head">
		<div class="col-xs-12">
			<video src="<%= asset_path 'top.mp4' %>"width="100%" height="100%"autoplay muted loop playsinline></video>
		</div>
	</div>
	<div class = "row">
		<div class="col-xs-12 ranking">
			<%= image_tag 'ranking1.png', width:"420" ,height:"200" %>
		</div>
	</div>
	<%= render 'users/articles/article_ranking', {popular_articles: @popular_articles} %>

<!--ローディング画面 -->
<div id="js-loader" class="loader">
    <div class="loader-animation">
    	<%= image_tag 'log.png' %>
    </div>
</div>
