<!-- モーダル・ダイアログ -->
<div class="modal fade" id="sampleModal-<%= gym.id %>" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content modal_back">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<h4 class="modal-title">GYM SHOW</h4>
			</div>
			<div class="modal-body">
				 <%= attachment_image_tag gym, :gym_image,:fill, 400, 400, format: 'jpeg', fallback: "no_image.jpg"%>
				<div class="row admin-item">
					<h3>GYM:</h3>
					<h4 class="col-xs-12"><%= gym.gym_name %></h4>
				</div>
				<h3>ーーーーーーーーーーーーーーーーーーーーー</h3>
				<div class="row admin-item">
					<h4 class="col-xs-12"><%= gym.description %></h4>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
			</div>
		</div>
	</div>
</div>

