/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*font-awesomeの呼び出し*/
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

 /*bootstrapの呼び出し*/
 @import "bootstrap-sprockets";
 @import "bootstrap";

 /* Google fonts読み込み */
 @import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');
 @import url('https://fonts.googleapis.com/css?family=M+PLUS+1p:300,400&display=swap&subset=japanese');

 $error:'arial unicode ms';
 $gothic: 'arial narrow';


// 全体　--------------------------------

body{
  background-color:#000000;
  }

#page_back {
  position: fixed;
  bottom: 30px;
  right: 20px;
  }

#page_back a {
  background-color: #999;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 20px 20px;
  }

#page_back a:hover {
  background-color: #666;
  text-decoration: none;
  }




//---------------------------------------
// ヘッダー ---------------------------

header {
  display: flex;
  list-style: none;
  padding: 5px;
  display: block;
  padding: 0 0 5px;
  text-decoration: none;
  position: fixed;
  z-index: 1;
  }

 .header-image {
	 padding-left: 20px;
 	 }

.exhibition::after {
  border-bottom: solid 2px #f59031;
  bottom: 0;
  content: "";
  display: block;
  transition: all .3s ease;

  width: 0;
  }

.exhibition:hover::after {
  width: 100%;
  }

.td-tag{
	text-align:center;
	width: 150px;
	height: 100px;
	}

//---------------------------------------
// フッター ------------------------------

footer {
  opacity: 0.7;
  margin-top: 150px;
  border-top: double;
  border-color: white;
  font-family: 'M PLUS 1p', sans-serif;
  margin-bottom: 0;
  color:white;
  text-align:center;
  vertical-align:center;
  margin-left: auto;
  margin-right: auto;
 }

ul {
	padding-inline-start: 0px;
	margin-top: 50px;
	list-style: none;
	}

.icon {
  text-align:center;
  vertical-align:center;
}

.icon {
  text-align: center;
  font-size: 30px;
  span{
    margin: 20px;
  }
}

//-------------------------------------
// 共通タイトルindex ページ --------------

.elementor-heading-title {
  font-family: "Raleway", Sans-serif;
  font-size: 31px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 150px;
  text-align: center;
  color: white;
  background: #f92;
  border-radius: 80% 30% 50% 50%/50%;
  }

//-------------------------------------
// リンク-------------------------------

a:link {
  color:white;
  text-decoration: none;
  }

a:visited {
  color:white;
  }

a:hover {
  color: #ff0000;
  }

a:active {
  color: #ff8000;
  }

//---------------------------------------
// TOPページ --------------------------------

@import url('https://fonts.googleapis.com/css?family=Courgette');

/* Positioning */


.toppage, .mymymy {
  position: absolute;
}

.toppage {
  font: 50px/1.2 'Courgette', cursive;
  color: #fff;
  text-align: center;
  margin-top: 80px;
  margin-left: 5%;
  z-index: 2;
}
.mymymy {
  width: 280px;
  height: 300px;
  mix-blend-mode: multiply;
}

/* Circles */
.circle-1 {
  background: #f66;
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
  animation: border-animation 6s infinite linear;
}
.circle-2 {
  background: #f92;
  border-radius: 80% 30% 50% 50%/50%;
  animation: border-animation 4s infinite linear;
}
.circle-3 {
  background: #fc2;
  border-radius: 40% 40% 50% 40%/30% 50% 50% 50%;
  animation: border-animation 3s infinite linear;
}

/* Animation */
@keyframes border-animation {
  to { transform: rotate(360deg); }
}

.box-top{
    width: 400px;
    margin: 50px auto 0;
    height: 400px;
    }



//-----------------------------------------
// genre ページ ----------------------------


.genre-body{
  line-height: 2.2em;
  color:#d3e0eb;
  }






//---------------------------------------
// MY PAGE ------------------------------



//-------------------------------------------
// article ページ ----------------------------


.hoge {
    position: relative;
    width: 200px;
    }

.hoge a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent:-999px;
    z-index: 2; /* 必要であればリンク要素の重なりのベース順序指定 */
    }

.hoge:hover {
  filter:alpha(opacity=70);/* IE 6,7*/
  -ms-filter: "alpha(opacity=70)";/* IE 8,9 */
  -moz-opacity:0.7;/* FF , Netscape */
  -khtml-opacity: 0.7;/* Safari 1.x */
  opacity:0.7;
  zoom:1;/*IE*/
  }

.thumbnail{
  margin: 10px;
  background-color: black;
  }

.caption{
  background: #eee;
  //overflow: hidden;
  //width: 100%;
  //color: white;
  }

//.text-over {
    //overflow: hidden;
    //text-overflow: ellipsis;
    //white-space: nowrap;
  //}

.modal_back{
  background-color: black;
  color:white;
  }

button{
  margin: 10px;
  background-color: black;
  }


//---------------------------------------
// TOS ページ ----------------------------

.establishment{
  text-align:right;
  padding-bottom: 40px;
  color:#d3e0eb;
  }

.tos-body{
  line-height: 2.2em;
  color:#d3e0eb;
  }


//---------------------------------------
// Privacy ページ ------------------------

.privacy-body{
  text-align:center;
  color:#d3e0eb;
  line-height: 2.2em;
  }

.privacy-item{
  text-align:left;
  }



//---------------------------------------
// devise--------------------------------

.signup {
    font-family: 'M PLUS 1p', sans-serif;
    color:#d3e0eb;
    .error {
        font-family: $error;
        color: #e53935;
        font-size: 15px;
        h2 {
            font-size: 20px;
        }
    }
    .title {
        color: #424242;
        font-size: 40px;
    }
    p {
        font-family: $gothic;
    }
    .pass {
        font-size: 14px;
    }
}

.signin{
	font-family: 'M PLUS 1p', sans-serif;
}