<!-- モーダル・ダイアログ  -->
<div class="modal fade" id="sampleModal-<%= article.id %>" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content modal_back">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<h4 class="modal-title">ARTICLE SHOW</h4>
			</div>
			<div class="modal-body">
				 <%= attachment_image_tag article, :article_image,:fill, 300, 400, format: 'jpeg', fallback: "no_image.jpg"%>
				<div class="row admin-item">
					<h3>TITLE:</h3>
					<h4 class="col-xs-12"><%= article.title %></h4>
				</div>
				<h3>ーーーーーーーーーーーーーーーーーーーーー</h3>
				<div class="row admin-item">
					<h4 class="col-xs-12"><%= article.body %></h4>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
			</div>
		</div>
	</div>
</div>